@model List<DataBase.WishList>
@using ShopKA.Models
@using DataBase
@{
    ViewBag.Title = "Sản phẩm yêu thích";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
@if (Model.Count() == 0)
{
    <div class="app-content">

        <!--====== Section 1 ======-->
        <div class="u-s-p-y-60">

            <!--====== Section Content ======-->
            <div class="section__content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 u-s-m-b-30">
                            <div class="empty">
                                <div class="empty__wrap">

                                    <span class="empty__big-text">TRỐNG</span>

                                    <span class="empty__text-1">Không có sản phẩm nào trong Yêu Thích</span>

                                    <a class="empty__redirect-link btn--e-brand" href="/Home/Index">Tiếp tục mua sắm</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--====== End - Section Content ======-->
        </div>
        <!--====== End - Section 1 ======-->
    </div>
}
else
{
    <div class="app-content" id="clear">

        <!--====== Section 1 ======-->
        <div class="u-s-p-y-60">

            <!--====== Section Content ======-->
            <div class="section__content">
                <div class="container">
                    <div class="breadcrumb">
                        <div class="breadcrumb__wrap">
                            <ul class="breadcrumb__list">
                                <li class="has-separator">

                                    <a href="/Home/Index">Trang chủ</a>
                                </li>
                                <li class="is-marked">

                                    <a>Yêu thích</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--====== End - Section 1 ======-->
        <!--====== Section 2 ======-->
        <div class="u-s-p-b-60">

            <!--====== Section Intro ======-->
            <div class="section__intro u-s-m-b-60">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="section__text-wrap">
                                <h1 class="section__heading u-c-secondary">Yêu thích</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--====== End - Section Intro ======-->
            <!--====== Section Content ======-->
            <div class="section__content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12" style="max-height:500px;overflow-y:scroll" id="Wish">
                            @foreach (var item in Model)
                            {
                                string name = 'c' + item.ID.ToString();
                                var r = DBIO.get1Product(item.ProductID).Price * DBIO.get1Product(item.ProductID).Sale;
                                int b = (int)(DBIO.get1Product(item.ProductID).Price - r);
                                float Sale = (DBIO.get1Product(item.ProductID).Sale * 100);

                                <!--====== Wishlist Product ======-->
                                <div class="w-r u-s-m-b-0">
                                    <div class="w-r__container">
                                        <div class="w-r__wrap-1">
                                            <div class="w-r__img-wrap">

                                                <img class="u-img-fluid" src=@DBIO.get1Product(item.ProductID).Image alt="">
                                            </div>
                                            <div class="w-r__info">

                                                <span class="w-r__name">

                                                    <a href="/Home/ProductDetail?ID=@item.ProductID">@DBIO.get1Product(item.ProductID).ProductName</a>
                                                </span>

                                                <span class="w-r__category">

                                                    <a href="/Home/Product?ProducerID=@DBIO.get1Product(item.ProductID).ProducerID">@DBIO.get1Producer_ProducerID(DBIO.get1Product(item.ProductID).ProducerID).ProducerName</a>
                                                </span>

                                                <span class="w-r__price">
                                                    @String.Format("{0:0,0}", @b) đ

                                                    @if (Sale != 0)
                                                    {<span class="pd-detail__discount">(@Sale  % OFF)</span><span class="product-o__discount">@String.Format("{0:0,0}", @DBIO.get1Product(item.ProductID).Price) đ</span>}
                                                </span>
                                            </div>
                                        </div>
                                        <div class="w-r__wrap-2">

                                            <a class="w-r__link btn--e-brand-b-2 addcartindex2" data_value=@item.ProductID data_value2=@DBIO.get1ColorFirst(item.ProductID).ID data-modal="modal" data-modal-id="#add-to-cart-@item.ProductID">THÊM VÀO GIỎ HÀNG</a>

                                            <a class="w-r__link btn--e-transparent-platinum-b-2" href="/Home/ProductDetail?ID=@item.ProductID">XEM CHI TIẾT</a>

                                            <a class="w-r__link btn--e-transparent-platinum-b-2 deleteWish" data_value=@item.ID href="#">XÓA</a>
                                        </div>
                                    </div>
                                </div>}
                            <!--====== End - Wishlist Product ======-->
                            <!--====== Wishlist Product ======-->
                            <!--====== End - Wishlist Product ======-->
                        </div>
                        <div class="col-lg-12">
                            <div class="route-box">
                                <div class="route-box__g">

                                    <a class="route-box__link" href="/Home/Index">
                                        <i class="fas fa-long-arrow-alt-left"></i>

                                        <span>TIẾP TỤC MUA SẮM</span>
                                    </a>
                                </div>
                                <div class="route-box__g">

                                    <a class="route-box__link " id="clearWish" href="#">
                                        <i class="fas fa-trash"></i>

                                        <span>XÓA HẾT DANH SÁCH</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--====== End - Section Content ======-->
        </div>
        <!--====== End - Section 2 ======-->
    </div>}
    <script>
        $('.deleteWish').on('click', function () {
            var ID = $(this).attr('data_value')
            $.ajax({
                type: 'POST',
                data: { ID: ID },
                url: '/Home/deleteWish',
                success: function (ketqua) {
                    $('#Wish').html(ketqua);
                    aler("Đã xóa");

                }
            })




        });

        $('#clearWish').on('click', function () {
            
            $.ajax({
                type: 'POST',
                data: {},
                url: '/Home/clearWish',
                success: function (ketqua) {
                    $('#clear').html(ketqua);


                }
            })




        });


    </script>

