@model List<DataBase.Color>
@{
    ViewBag.Title = "Thuộc tính sản phẩm";
    Layout = "~/Views/Shared/_Aminlayout.cshtml";
}





<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Tên SP: @ViewBag.TT.ProductName</h6>
        <hr />
        <a href="@Url.Action("addColor","Admin",new { ID2 = ViewBag.TT.ID })" ," class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
            <i class="fas fa-download fa-sm text-white-50"></i> Thêm Màu - Cấu hình
        </a>
    </div>

    <div class="card-body" id="product">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Tên Màu/Cấu hình</th>


                        <th scope="col">SL</th>

                        <th scope="col">                      </th>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {

                        <tr>
                            <th scope="row">@item.ID</th>
                            <td>@item.ColorName</td>
                            <td>@item.Quantity</td>

                            <td>
                                <a class="btn btn-danger btn-circle btn-sm" href="@Url.Action("deleteColor","Admin",new { ID = @item.ID,ID2 = @ViewBag.TT.ID })" role="button"><i class="fas fa-trash"></i></a>
                                <a class="btn btn-warning btn-circle btn-sm" href="@Url.Action("editColor","Admin",new { ID = @item.ID,ID2 = @ViewBag.TT.ID  })" role="button">Sửa</a>


                            </td>
                        </tr>
                    }

                </tbody>


            </table>
        </div>
    </div>
</div>

