@model DataBase.ProductT

@{
    ViewBag.Title = "EditProductT";
    Layout = "~/Views/Shared/_Aminlayout.cshtml";
}

<h2>Sửa loại SP @Model.ProducTName</h2>

@using (Html.BeginForm("EditProductT","Admin",new { ID2 = Model.ID }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>ProductT</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.ProducTName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProducTName, new { htmlAttributes = new { @class = "form-control",@value=Model.ProducTName } })
                @Html.ValidationMessageFor(model => model.ProducTName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

