@model List<DataBase.Order>
@using DataBase
@using ShopKA.Models
@{ MyDB DB = new MyDB();}
<div class="card-body">
    <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Người đặt hàng</th>
                    <th>Số Lượng SP</th>
                    <th>Tổng giá</th>
                    <th>Trạng thái</th>

                    <th>                      </th>
                </tr>
            </thead>


            <tbody>
                @foreach (var item in Model)
                {
                    string t = "";
                    switch (item.Status)
                    {
                        case 0:
                            t = "Chờ xác nhận";
                            break;
                        case 1:
                            t = "Đã chuẩn bị hàng";
                            break;
                        case 2:
                            t = "Đang vận chuyển";
                            break;
                        case 4:
                            t = "Thành công";
                            break;
                        case 6:
                            t = "Đã trả hàng";
                            break;
                    }


                <tr>
                    <th scope="row">@item.ID</th>
                    <td>@DBIO.get1User_ID(item.UserID).Username</td>
                    <td>@DB.ProductOrders.Count(i => i.OrderID == item.ID)</td>
                    <td>@(DB.ProductOrders.Where(i=>i.OrderID==item.ID).Sum(i=>i.Price*i.Quantity)+100000) đ</td>
                    @if (item.Status < 3)
                    {
                        <td id="orderSTT-@item.ID">@Ajax.ActionLink(t, "changeOrderSTT", "Admin", new { ID = item.ID }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "orderSTT-" + item.ID.ToString(), InsertionMode = InsertionMode.Replace })</td>
                    }
                    else if (item.Status == 3)
                    {
                        <td id="orderSTT-@item.ID">Đang giao hàng - @Ajax.ActionLink("Giao cho khách", "changeOrderSTT", "Admin", new { ID = item.ID, ID2 = 4 }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "orderSTT-" + item.ID.ToString(), InsertionMode = InsertionMode.Replace }) - @Ajax.ActionLink("Hủy", "changeOrderSTT", "Admin", new { ID = item.ID, ID2 = 5 }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "orderSTT-" + item.ID.ToString(), InsertionMode = InsertionMode.Replace })</td>
                    }
                    else if (item.Status == 5)
                    {
                        <td id="orderSTT-@item.ID">Đã hủy - @Ajax.ActionLink("Đang trả hàng", "changeOrderSTT", "Admin", new { ID = item.ID }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "orderSTT-" + item.ID.ToString(), InsertionMode = InsertionMode.Replace }) </td>
 }

                    else
                    {
                        <td>@t</td>
                    }


                    <td>
                        <a class="btn btn-primary addeleteOrder" data_value=@item.ID role="button">Xóa đơn hàng</a>

                        <a class="btn btn-primary" href=@Url.Action("AdOrderDetail", "Admin", new { ID = @item.ID }) role="button">Chi tiết đơn hàng</a>

                    </td>


                </tr>
                }

            </tbody>
        </table>
    </div>
</div>
<script src="/AssetAdmin/vendor/jquery/jquery.min.js"></script>
<script src="/AssetAdmin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/AssetAdmin/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/AssetAdmin/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="/AssetAdmin/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/AssetAdmin/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="~/Scripts/App.js"></script>
<script src="/AssetAdmin/js/demo/datatables-demo.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>