@model List<DataBase.Producer>
@using ShopKA.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Aminlayout.cshtml";


}

<h6>Loại SP: @ViewBag.TT.ProducTName</h6>

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Loại SP</h1>
    <a href="@Url.Action("CreatProducer","Admin",new { ID = @ViewBag.TT.ID })" ," class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
        <i class="fas fa-download fa-sm text-white-50"></i> Thêm NSX
    </a>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Tên NSX</th>
            
            <th scope="col">Tổng số SP</th>

            <th scope="col">                      </th>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            int a = DBIO.Count_Product_Producer(item.ID);
            <tr>
                <th scope="row">@item.ID</th>
                <td>@item.ProducerName</td>
                <td>@a</td>
                


                <td>
                    <a class="btn btn-primary" href="@Url.Action("DeleteProducer","Admin",new { ID = @item.ID,ID1=ViewBag.TT.ID })" role="button">Xóa</a>
                    <a class="btn btn-primary" href="@Url.Action("EditProducer","Admin",new { ID = @item.ID })" role="button">Sửa</a>
                    
                    <a class="btn btn-primary" href="@Url.Action("DetailNSX","Admin",new { ID = @item.ID })" role="button">Xem Tất Cả SP</a>

                </td>
            </tr>
        }

    </tbody>

</table>
<div class="col-md-12" style="text-align:center">

</div>
