@model List<DataBase.Cart>
    @using ShopKA.Models

    @{int dem = 0;}
<div id="SLSP" data_value=@Model.Count()></div>
    @foreach (var item in Model)
    {
        dem = dem + 1;
        string ID1 = "ID" + dem.ToString();

        var r = DBIO.getProduct_Cart(item).Price * DBIO.getProduct_Cart(item).Sale;
        int b = (int)(DBIO.getProduct_Cart(item).Price - r);
        float Sale = (DBIO.getProduct_Cart(item).Sale * 100);
        
        <div class="o-card">
            <div class="o-card__flex">
                <div class="o-card__img-wrap">

                    <img class="u-img-fluid" src='data:image/png;base64,@DBIO.getProduct_Cart(item).Image ' alt="">
                </div>
                <div class="o-card__info-wrap">

                    <span class="mini-product__name">

                        <a href="product-detail.html">@DBIO.getProduct_Cart(item).ProductName</a><span class="mini-product__quantity">  @DBIO.getColor_Cart(item).ColorName</span>
                    </span>


                    <span class="o-card__quantity">Số lượng x @item.Quantity</span>

                    <div class="o-card__price">
                        @String.Format("{0:0,0}", @b) đ

                        @if (Sale != 0)
                        {<span class="pd-detail__discount">(@Sale  % OFF)</span><span class="product-o__discount">@String.Format("{0:0,0}", @DBIO.getProduct_Cart(item).Price) đ</span>}
                    </div>
                </div>
            </div>

            <a class="deletePD1 far fa-trash-alt" data_value=@item.ID></a>
            
        </div>
        <p id=@ID1 data_value=@item.ID></p>}
    <div id="dem1" data_value=@dem></div>
<script>
    $('.deletePD1').on('click', function () {
        var ID = $(this).attr('data_value');
        
        if (confirm('Xóa sản phẩm sẽ làm mã voucher hết hiệu lực, bạn có muốn xóa không?')) {
            $.ajax({
                type: 'POST',
                data: { ID: ID },
                url: '/User/checkoutPD',
                success: function (ketqua) {
                    $('#checkoutPD').html(ketqua);


                }
            })
            $.ajax({
                type: 'POST',
                data: { test: 0, code: "0", SLSP: 0, money: 0 },
                url: '/User/checkVoucher',
                success: function (ketqua) {
                    $('#kqVoucher').html(ketqua);


                }
            })
            $.ajax({
                type: 'POST',
                data: {},
                url: '/User/checkoutMoney',
                success: function (ketqua) {
                    $('#money').html(ketqua);


                }
            })
            $.ajax({
                type: 'POST',
                data: {},
                url: '/Home/DeleteCart2',
                success: function (ketqua) {
                    $('#cartmini').html(ketqua);


                }
            })
        }




    });
</script>
